.now-playing-container {
    flex: 1;
    width: 100vw;
    padding: 8px 12px;
    height: 110px;
    max-height: 110px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;

    background-color: var(--black-color);

    .title-section {
        flex: 2;
        padding: 8px 12px;
        width: 100%;
        min-width: 230px;

        .image-container {
            height: 70px;
            width: 70px;
            border-radius: 5px;
            margin-right: 8px;

            img {
                height: 70px;
                width: 70px;
                object-fit: cover;
                border-radius: 5px;
            }
        }

        .info-container {
            overflow: hidden;
            line-height: 20px;
            text-wrap: nowrap;

            .title {
                font-size: var(--text-sm-size);
            }

            .author {
                font-size: var(--text-xs-size);
            }
        }
    }

    .play-actions {
        flex: 3;
        width: 100%;

        .like-container {
            padding: 8px 12px;
            img {
                height: 20px;
                width: 20px;
                object-fit: cover;
            }
        }

        .play-container {
            flex: 1;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);

            .buttons-container {
                width: 100%;
                flex-direction: row;
                padding: 4px 8px;
                justify-content: center;
                align-items: center;
    
                img {
                    padding: 0 8px;
                    height: 16px;
                    margin: 0 8px;
                    object-fit: cover;
    
                    &.play, &.pause {
                        height: 40px;
                        width: 40px;
                        object-fit: contain;
                    }
                }
            }
    
            .timeline-container {
                flex: 1;
                width: 100%;
                padding: 8px 12px;
                
                .current-time, .total-time {
                    font-size: var(--text-xs-size);
                    width: 35px;
                    flex: 1;
                }

                .current-time {
                    padding-right: 8px;
                }

                .total-time {
                    padding-left: 8px;
                }

                .playtime-container {
                    width: 70%;
                    height: 12px;
                    overflow-x: hidden;
                    border-radius: 12px;

                    .playtime {
                        width: 100%;
                        height: 6px;
                        border-radius: 3px;
                        background-color: var(--lightGray-color);
                        align-items: center;
                        transition: all 150ms ease-in-out;
        
                        .current-playtime {
                            height: 6px;
                            border-radius: 3px;
                            background-color: var(--white-color);
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                            transform: translateX(-100%);
                            z-index: 2;
                            transition: all 150ms ease-in-out;

                            .current-playtime-indicator {
                                height: 12px;
                                width: 12px;
                                border-radius: 50%;
                                background-color: #fff;
                                position: absolute;
                                right: 0;
                                top: -3px;
                                z-index: 3;
                                opacity: 0;
                            }
                        }
        
                        &:hover {

                            .current-playtime {
                                background-color: var(--primary-color);

                                .current-playtime-indicator {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
    
                
            }
        }
    }

    .play-options {
        flex: 1;
        width: 100%;
         img {
            height: 16px;
            margin: 0 16px;
         }
    }

    @media screen and (max-width: 992px) {
        .title-section {
            flex: 2;
        }

        .play-actions {
            flex: 4;
        }
    }

    @media screen and (max-width: 992px) {

        .play-actions {
            
            .like-container {
                padding: 8px 4px;
            }

            .play-container {

                .timeline-container {
                    padding: 8px 0;

                    .current-time, .total-time {
                        padding: 0 8px;
                    }
                }
            }

        }
    }
}