@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #1ED760;
  --black-color: #000000;
  --darkGray-color: #121212;
  --gray-color: #232323;
  --lightGray-color: #A7A7A7;
  --white-color: #ffffff;
  --blue-color: #2E77D0;

  --heading-size: 30px;
  --subheading-size: 16px;
  --text-size: 18px;
  --text-lg-size: 22px;
  --text-sm-size: 14px;
  --text-xs-size: 11px;

  --heading-weight: 700;
  --subheading-weight: 600;
  --bold-weight: 900;
  --semibold-weight: 500;

  --column-count: 5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
